Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

.gitlab-ci.yml:

stages:
  - build_base
  - build
  - deploy
  - release

build_frontend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:frontend-0 -f ./frontend/.docker/Dockerfile ./frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-0
  only:
    refs:
      - master
    changes:
      - frontend/**/*
  tags:
    - ns01

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-base
  only:
    refs:
      - master
    changes:
      - backend/Dockerfile.base
  tags:
    - ns01

build_backend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-0 ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-0
  only:
    refs:
      - master
    changes:
      - backend/**/*
  tags:
    - ns01

deploy_dev:
  stage: deploy
  image: cytopia/ansible
  script:
    - git clone git@gitlab.com:natural-solutions/ns-ansible-infrastructure.git
    - cd ns-ansible-infrastructure
    - echo ${VAULT_PASSWORD_KEY} > password-file
    - ansible-playbook -i hosts -l ecoteka_dev --vault-password-file password-file deploy.yml
    - rm password-file
  only:
    - master
  tags:
    - ns01
  variables:
    ANSIBLE_INVENTORY_UNPARSED_FAILED: "true"

release:
  stage: release
  script:
    - semantic-release
  only:
    - master
  tags:
    - ns01

test: head key
  .gitlab-ci.yml
Due: none

test: 4
  .gitlab-ci.yml
Due: none

ci: deploy_dev
  .gitlab-ci.yml
Due: none

ci: semantic release
  .gitlab-ci.yml
Due: none

chore(release): 0.12.7 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: relative path in npm start
  frontend/package.json
Due: build_frontend

chore(release): 0.12.8 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

build: add ripgrep to Dockerfile
  frontend/.docker/Dockerfile
Due: build_frontend

fix: tmp mv rg frontend
  frontend/.docker/Dockerfile
Due: build_frontend

chore(release): 0.12.9 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): add user organizations to homepage
  frontend/components/Core/Section/Item.tsx
  frontend/components/User/MainMenuButton.tsx
  frontend/pages/index.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

fix(backend): fix ZeroDivisioError for Tree ratio metrics
  backend/app/app/crud/crud_tree.py
Due: build_backend

chore(release): 0.12.10 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

chore(release): 0.12.11 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): Add colorFill and radiuasScale to osmLayer
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Layers/OSM.tsx
Due: build_frontend

fix(frontend): Map Provider MVTLayeer interactivity sandbox
  frontend/components/Map/Layers/OSM.tsx
  frontend/components/Map/Provider.tsx
Due: build_frontend

fix(frontend): Organization page rework
  frontend/abilities/genericOrganizationAbility.ts
  frontend/components/Map/Provider.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/OrganizationV2/Members.tsx
  frontend/components/OrganizationV2/Zones.tsx
  frontend/components/WorkInProgress.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.12.12 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): Fix health_assessment revision rollback
  backend/app/alembic/versions/f3924b140fc2_create_health_assessment_table.py
Due: build_backend

fix(backend): add more attributes to organization schema
  backend/app/alembic/versions/eeec5df1761a_organization_add_population_size_area_.py
  backend/app/app/db/init_db.py
  backend/app/app/models/organization.py
  backend/app/app/schemas/organization.py
Due: build_backend

fix(backend): fix organization model initialization
  backend/app/app/models/organization.py
  backend/app/app/schemas/organization.py
Due: build_backend

fix(frontend): update admin organization form
  frontend/components/Admin/Organization/Form.tsx
  frontend/components/Admin/Organization/Schema.tsx
  frontend/index.d.ts
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(frontend): add RichTooltip component
  frontend/components/Feedback/RichTooltip.tsx
Due: build_frontend

fix(frontend): add popSize and area to organization header
  frontend/components/OrganizationV2/Header.tsx
Due: build_frontend

fix(frontend): add species distribution chart
  backend/app/app/schemas/organization.py
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend, build_backend

fix(frontend): Add species preview components
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
  frontend/lib/useApi.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(frontend): conditonal rendering on organization header component
  frontend/components/OrganizationV2/Header.tsx
Due: build_frontend

fix(frontend): add optional richtooltip info on options panel component
  frontend/components/Core/OptionsPanel.tsx
Due: build_frontend

fix(frontend): clear console log
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
Due: build_frontend

fix(frontend): set wip props to optional for SpeciesDiversityDashboard components
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
Due: build_frontend

Update Schema.ts Ajout de quelques champs pour la plupart facultatifs mais intéressants, et présents dans pas mal de jeux de données
  frontend/components/Tree/Schema.ts
Due: build_frontend

chore(release): 0.12.13 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

build: optimize frontend and backend developer environment
  backend/Dockerfile
  backend/Dockerfile.base
  docker-compose.override.yml
  docker-compose.yml
  frontend/.docker/Dockerfile.dev
  frontend/next.config.js
Due: build_frontend, build_backend_base, build_backend

fix: backend development volumen
  backend/Dockerfile
  docker-compose.override.yml
  frontend/.docker/Dockerfile.dev
  frontend/package.json
Due: build_frontend, build_backend

chore(release): 0.12.14 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: format the data display when clicking on an OSM tree
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Layers/OSM.tsx
  frontend/components/Map/Provider.tsx
  frontend/components/Map/Tooltip/Item.tsx
  frontend/components/Map/Tooltip/KeyValue.tsx
  frontend/components/Map/Tooltip/Tooltip.tsx
  frontend/components/Map/Tooltip/Wikipedia.tsx
Due: build_frontend

refactor: remove console.log
  frontend/components/Core/OptionsPanel.tsx
Due: build_frontend

refactor: fix types
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Tooltip/Item.tsx
  frontend/components/OrganizationV2/Header.tsx
Due: build_frontend

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: wip
  frontend/components/AppLayout/General.tsx
  frontend/components/Core/Error.tsx
  frontend/lib/useApi.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend
