Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

.gitlab-ci.yml:

stages:
  - build_base
  - build
  - clean

build_frontend:
  stage: build
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:frontend-legacy -f ./frontend/.docker/Dockerfile ./frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-legacy
  only:
    refs:
      - legacy
    changes:
      - frontend/**/*
  tags:
    - ns01

build_backend_base:
  stage: build_base
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-base
  only:
    refs:
      - legacy
    changes:
      - backend/Dockerfile.base
  tags:
    - ns01

build_backend:
  stage: build
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-legacy ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-legacy
  only:
    refs:
      - legacy
    changes:
      - backend/**/*
  tags:
    - ns01

clean:
  stage: clean
  script:
    - docker system prune -a -f
  only:
    - legacy
  tags:
    - ns01

perf: improved osm layer rendering
  frontend/components/Map/Provider.tsx
  frontend/pages/index.tsx
Due: build_frontend

refactor: remove index legacy
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/pages/index-legacy.tsx
Due: build_frontend

refactor: remove treeold
  frontend/components/Core/Card/VideoCard.tsx
  frontend/components/Organization/Card/Add.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/TreeOld/Form.tsx
  frontend/components/TreeOld/Infos/Expanded.tsx
  frontend/components/TreeOld/Infos/Properties.tsx
  frontend/components/TreeOld/Infos/Summary.tsx
  frontend/components/TreeOld/Schema.tsx
  frontend/components/TreeOld/TreeAccordion.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/index.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend

fix: minor fix
  frontend/components/Import/Panel/Mapping.tsx
  frontend/components/Panel.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.9.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

docs: add components.Home.title translations
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

build(frontend): add merriweather font
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
Due: build_frontend

fix: add title on home page
  frontend/components/Home/Hero.tsx
  frontend/pages/index.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
  frontend/theme/config.ts
Due: build_frontend

chore(release): 0.9.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: search all osm administrative nodes
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Provider.tsx
  frontend/components/Map/SearchCity.tsx
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend

fix: sort by importance
  frontend/components/Home/Hero.tsx
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

build(frontend): update deck.gl
  frontend/components/Map/Layers/OSM.tsx
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend

build(frontend): clean dependencies
  frontend/components/Map/Provider.tsx
  frontend/index.d.ts
  frontend/package.json
Due: build_frontend

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: keep search toolbar
  frontend/components/Home/Hero.tsx
Due: build_frontend

chore(release): 0.10.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: add ecoteka osm thumbnails
  .env.example
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: add demos on home pages
  frontend/components/AppLayout/Footer.tsx
  frontend/components/AppLayout/General.tsx
  frontend/components/Core/Section/Container.tsx
  frontend/components/Core/Section/Item.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/index.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
  frontend/theme/config.ts
Due: build_frontend

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

chore: wip org
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/OrganizationV2/Members.tsx
  frontend/components/OrganizationV2/MembersCard.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/index.tsx
  frontend/providers/AppContext.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

fix(frontend): unable to select python package for alpinelinux 3.13
  .gitignore
  frontend/.docker/Dockerfile.dev
  frontend/package-lock.json
Due: build_frontend

fix(frontend): enhance homepage OSM names search
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

feat: add newsletter component
  frontend/.docker/Dockerfile
  frontend/.docker/Dockerfile.dev
  frontend/components/AppLayout/Footer.tsx
  frontend/components/NewsletterButton.tsx
Due: build_frontend

fix: clean code
  frontend/components/NewsletterButton.tsx
Due: build_frontend

fix(frontend): add python3 to Dockerfile
  frontend/.docker/Dockerfile
Due: build_frontend

fix(frontend): remove console.log
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

chore: remove test temporaly
  .gitlab-ci.yml
Due: none

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: remove treehealthassessment
  frontend/components/Tree/Page/Header.tsx
  frontend/components/Tree/Panel.tsx
  frontend/pages/[organizationSlug]/tree/[id].tsx
Due: build_frontend

chore(release): 0.12.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): Add config to osmname index
  backend/app/app/core/meilisearch.py
Due: build_backend

fix(frontend): Use name in homepage autocomplete options
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

fix(backend): Give more weight in osmname index for importance sort
  backend/app/app/core/meilisearch.py
Due: build_backend

fix(frontend): Display name and country in homepage searchbar
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

fix: alter table organization slug and path no more required
  backend/app/alembic/versions/4878e4bfc3ec_alter_table_organization.py
Due: build_backend

fix: remove reference to the sequence in organization
  backend/app/app/models/organization.py
Due: build_backend

fix(frontend): Add query invalidation + OSM field to AdminOrg form
  frontend/components/Admin/Organization/BasicForm.tsx
  frontend/components/Admin/Organization/Field/OSMName.tsx
  frontend/components/Admin/Organization/Form.tsx
  frontend/components/Admin/Organization/Provider.tsx
  frontend/components/Admin/Organization/Schema.tsx
  frontend/components/Admin/Organization/SearchPlace.tsx
  frontend/components/Admin/Organization/useForm.tsx
  frontend/pages/admin/organizations.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix: organization are now created in 2 step path and slug depend on id
  backend/app/app/crud/crud_organization.py
Due: build_backend

fix: create_organization_root_node issue with casbin
  backend/app/app/api/api_v1/endpoints/admin.py
Due: build_backend
