Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

build_frontend:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-legacy -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-legacy
  tags:
  - ns01

build_backend_base:
  stage: build_base
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-base
  tags:
  - ns01

build_backend:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-legacy ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-legacy
  tags:
  - ns01

fix: type
  frontend/components/Map/AddActions.tsx
Due: build_frontend

fix: edition mode addTree
  frontend/pages/map.tsx
Due: build_frontend

fix: add OSO deps to backend
  backend/Dockerfile.base
Due: build_backend_base, build_backend

chore(release): 0.5.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: OSO initial config
  backend/app/alembic/versions/0b6889fae04d_add_organizationrole.py
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/core/__init__.py
  backend/app/app/core/authorize.py
  backend/app/app/core/config.py
  backend/app/app/core/security.py
  backend/app/app/db/base_class.py
  backend/app/app/main.py
  backend/app/app/models/__init__.py
  backend/app/app/models/organization.py
  backend/app/app/models/organization_role.py
  backend/app/app/models/tree.py
  backend/app/app/models/user.py
  backend/app/app/policies/main.polar
Due: build_backend

fix(backend): add meilisearch deps
  backend/Dockerfile.base
Due: build_backend_base, build_backend

chore(release): 0.5.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat(backend): add indices automatically on init app
  backend/app/alembic/versions/9fb7d87eeea3_add_taxon_model_and_data.py
  backend/app/app/core/__init__.py
  backend/app/app/core/config.py
  backend/app/app/core/meilisearch.py
  backend/app/app/data/db/global_tree_search_1-5.csv.gz
  backend/app/app/initial_data.py
  backend/data/global_tree_search_trees_1_5.csv.gz
  docker-compose.yml
Due: build_backend

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): Display data in Organization Header
  frontend/abilities/genericOrganizationAbility.ts
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(backend): Fix Superuser Organization access grants
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/core/security.py
Due: build_backend

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

Add LICENSE
  LICENSE
Due: none

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

perf: optimize mapillary component
  .env.example
  docker-compose.yml
  frontend/components/Core/Mapillary/Image.tsx
  frontend/components/Tree/Images/Container.tsx
  frontend/components/Tree/Mapillary.tsx
  frontend/components/Tree/Panel.tsx
  frontend/next.config.js
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

chore(release): 0.7.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

build: disabled next.js telemetry
  frontend/.docker/Dockerfile
Due: build_frontend

perf: avoid unnecessary image reloading in mapillary
  frontend/components/Core/Mapillary/Image.tsx
  frontend/components/Tree/Page/Header.tsx
  frontend/components/Tree/Panel.tsx
Due: build_frontend

refactor(backend): dependency to allow unauth request for public org
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/core/__init__.py
  backend/app/app/core/security.py
  backend/app/app/crud/crud_organization.py
Due: build_backend

perf: create TreeProvider to share tree context
  frontend/components/Tree/BasicForm.tsx
  frontend/components/Tree/Form.tsx
  frontend/components/Tree/HealthAssessment.tsx
  frontend/components/Tree/Images/Container.tsx
  frontend/components/Tree/Images/Gallery.tsx
  frontend/components/Tree/Images/Upload.tsx
  frontend/components/Tree/Interventions.tsx
  frontend/components/Tree/Page/Header.tsx
  frontend/components/Tree/Panel.tsx
  frontend/components/Tree/Provider.tsx
  frontend/lib/hooks/useTree.ts
  frontend/pages/[organizationSlug]/tree/[id].tsx
Due: build_frontend

chore(release): 0.7.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): add more permissive authorization
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/core/security.py
  backend/app/app/crud/crud_organization.py
Due: build_backend

chore(release): 0.7.3 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

perf(frontend): add theme config
  frontend/theme/config.js
Due: build_frontend

feat: add landing page to the project
  .env.example
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(frontend): add map preview to Organization page
  frontend/components/OrganizationV2/Header.tsx
  frontend/public/assets/icons/tree_detailled.svg
Due: build_frontend

chore(release): 0.8.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: typo on .env.example ns_ecoteka_studio_domain_name value
  .env.example
Due: none

chore(release): 0.8.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

build: add STUDIO_URL env to landing_page service
  docker-compose.yml
Due: none

fix: re-add theme config to project
  frontend/components/AppLayout/General.tsx
  frontend/components/AppLayout/Header.tsx
  frontend/components/Card/About.tsx
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/Tree/Form.tsx
  frontend/components/Tree/Images/Container.tsx
  frontend/lib/hooks/useThemeSwitcher.tsx
  frontend/pages/[organizationSlug]/tree/[id].tsx
  frontend/theme/config.ts
Due: build_frontend

chore(release): 0.8.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): add create public and private mbtiles after import_geofiles
  .gitignore
  backend/app/app/tasks/create_mbtiles.py
  backend/app/app/tasks/import_geofile.py
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/Tree/Field/Canonical.tsx
Due: build_frontend, build_backend

fix(frontend): conditional rendering for Organization page (wip)
  frontend/components/AppLayout/General.tsx
  frontend/components/Core/Error.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend

fix(frontend): discard changes on Canonical Field
  frontend/components/Tree/Field/Canonical.tsx
Due: build_frontend

fix: removed / at the end of maps/style endpoint to standardize with the rest
  backend/app/app/api/api_v1/endpoints/maps.py
Due: build_backend

feat: add MapProvider component
  frontend/components/Map/Layers/OSM.tsx
  frontend/components/Map/Provider.tsx
Due: build_frontend

feat: add OSMTrees on home page
  frontend/pages/index.tsx
Due: build_frontend

fix: check if organizationSlug exists
  frontend/providers/AppContext.tsx
Due: build_frontend

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend_base: any of: backend/Dockerfile.base
  build_backend: any of: backend/**/*
