Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

build_frontend:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-0 -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-0
  tags:
  - ns01

build_backend_base:
  stage: build_base
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-base
  tags:
  - ns01

build_backend:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-0 ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-0
  tags:
  - ns01

fix(frontend): Add Thumbnail and PubStatus to ShowcaseCard
  frontend/components/Core/Card/ShowcaseCard.tsx
  frontend/pages/admin/organizations.tsx
Due: build_frontend

chore(release): 0.12.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): Organization page access grant check
  backend/app/app/core/meilisearch.py
  frontend/components/AppLayout/General.tsx
  frontend/components/Core/Error.tsx
  frontend/components/Core/Feedback/OrganizationSkeleton.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/admin/organizations.tsx
  frontend/pages/signin.tsx
  frontend/providers/AppContext.tsx
  frontend/public/assets/background_401.svg
  frontend/public/assets/background_403.svg
  frontend/public/assets/erreur_403.svg
Due: build_frontend, build_backend

fix(backend): readd taxa index
  backend/app/app/core/meilisearch.py
Due: build_backend

fix: add links to footer
  frontend/components/AppLayout/Footer.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(frontend): add ShowcaseCard missing props in UserOrganizationGallery
  frontend/components/Home/UserOrganizationGallery.tsx
Due: build_frontend

fix(frontend): Authorize Progress and Members on Organization page
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend

fix(frontend): missing props in UserOrganizationGallery... again
  frontend/components/Home/UserOrganizationGallery.tsx
Due: build_frontend

chore(release): 0.12.3 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: change type lat and lon to number
  frontend/components/Map/SearchCity.tsx
Due: build_frontend

chore(release): 0.12.4 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): Wait for Next Router to be ready before fetching Organization
  frontend/providers/AppContext.tsx
Due: build_frontend

chore(release): 0.12.5 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

ci: remove pycache before start pipeline
  .gitlab-ci.yml
  docker-compose.override.yml
Due: none

ci: remove before_script
  .gitlab-ci.yml
Due: none

fix(frontend): Load MapEditor components when organization context is ready
  frontend/components/Admin/Organization/Form.tsx
  frontend/components/AppLayout/Carto.tsx
  frontend/lib/useApi.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend

chore(release): 0.12.6 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): add Trees properties metrics
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/crud/crud_tree.py
  backend/app/app/schemas/__init__.py
  backend/app/app/schemas/tree.py
Due: build_backend

fix(frontend): add ProgressRatio
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(frontend): Manage Organization members
  frontend/components/OrganizationV2/Members.tsx
Due: build_frontend

fix(frontend): Add key to Progress Metrics list
  frontend/components/OrganizationV2/Progress.tsx
Due: build_frontend

fix(frontend): Fix MapillaryImage height
  frontend/components/Core/Mapillary/Image.tsx
  frontend/components/Tree/Mapillary.tsx
Due: build_frontend

fix(frontend): Add more actions to Organization page
  frontend/components/OrganizationV2/ExportDataset.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(frontend): Add ChartJS deps
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend

fix(frontend): Dashboards + Modules blocks in Organization page
  frontend/components/AppLayout/General.tsx
  frontend/components/Icons/Seed.tsx
  frontend/components/OrganizationV2/Dashboards/EconomyDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/GreeningDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/TreeHealthAssessmentDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/UrbanForestryManagementDashboard.tsx
  frontend/components/OrganizationV2/Members.tsx
  frontend/components/OrganizationV2/Modules/DataQualityModule.tsx
  frontend/components/OrganizationV2/Modules/DetectTreesModules.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/components/WorkInProgress.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/public/assets/icons/icon_seed.svg
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix(backend): Remove data seeding from osmname revision
  backend/app/alembic/versions/087aa7580c8e_create_table_osmname.py
Due: build_backend

ci: refact to docker image
  .gitlab-ci.yml
Due: none

ci: use docker dind
  .gitlab-ci.yml
Due: none

ci: add cytopia/ansible image to deploy_dev job
  .gitlab-ci.yml
Due: none

ci: switch cytopia/ansible:latest image to cytopia/ansible:latest-tools
  .gitlab-ci.yml
Due: none

ci: test clone deploy script repository with gl_token
  .gitlab-ci.yml
Due: none

ci: test add user to allow clone repository
  .gitlab-ci.yml
Due: none

ci: add ssh keys to allow the deployment
  .gitlab-ci.yml
Due: none

ci: test folder root
  .gitlab-ci.yml
Due: none

ci: test
  .gitlab-ci.yml
Due: none

ci: test2
  .gitlab-ci.yml
Due: none

ci: test3
  .gitlab-ci.yml
Due: none

ci: test -> ANSIBLE_HOST_KEY_CHECKING=False
  .gitlab-ci.yml
Due: none

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend_base: any of: backend/Dockerfile.base
  build_backend: any of: backend/**/*
