Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

.gitlab-ci.yml:

stages:
  - build_base
  - build
  - deploy
  - release

build_frontend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:frontend-0 -f ./frontend/.docker/Dockerfile ./frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-0
  only:
    refs:
      - master
    changes:
      - frontend/**/*
  tags:
    - ns01

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-base
  only:
    refs:
      - master
    changes:
      - backend/Dockerfile.base
  tags:
    - ns01

build_backend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-0 ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-0
  only:
    refs:
      - master
    changes:
      - backend/**/*
  tags:
    - ns01

deploy_dev:
  stage: deploy
  image: cytopia/ansible:latest-tools
  script:
    - git clone https://${GL_USER}:${GL_TOKEN}@gitlab.com/natural-solutions/ns-ansible-infrastructure.git
    - cd ns-ansible-infrastructure
    - echo ${VAULT_PASSWORD_KEY} > password-file
    - ansible-vault decrypt --vault-password-file password-file k
    - ansible-playbook -i hosts -l ecoteka_dev --vault-password-file password-file deploy.yml
    - rm password-file
  only:
    - master
  tags:
    - ns01
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "false"
    ANSIBLE_INVENTORY_UNPARSED_FAILED: "true"

release:
  stage: release
  script:
    - npm i @semantic-release/gitlab @semantic-release/git @semantic-release/changelog @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer
    - npx semantic-release
  only:
    - master
  tags:
    - ns01

responsive chart wip
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/Panel/Start/GeneralInfo.tsx
  frontend/package.json
  frontend/pages/[organizationSlug]/index.tsx
  frontend/yarn.lock
Due: build_frontend

fix(frontend): add responsive behaviour to species bar chart
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend

fix(frontend): add responsive behaviour to species preview
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
Due: build_frontend

fix(frontend): rename CoreOptionPanel title props
  frontend/components/OrganizationV2/Dashboards/EconomyDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/GreeningDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/TreeHealthAssessmentDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/UrbanForestryManagementDashboard.tsx
  frontend/components/OrganizationV2/Members.tsx
  frontend/components/OrganizationV2/Modules/DataQualityModule.tsx
  frontend/components/OrganizationV2/Modules/DetectTreesModules.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/components/OrganizationV2/Zones.tsx
Due: build_frontend

fix(frontend): remove unused components
  frontend/components/Dashboard/Widget.tsx
  frontend/components/DataViz/Bars.tsx
  frontend/components/DataViz/SimpleMetric.tsx
  frontend/components/DataViz/StackedBars.tsx
  frontend/pages/[organizationSlug]/dashboard.tsx
Due: build_frontend

fix(frontend): cleanup deps
  frontend/package.json
Due: build_frontend

fix(frontend): remove unused pages
  frontend/pages/dashboard.tsx
  frontend/pages/gbif-search.tsx
  frontend/pages/organization/[id].tsx
Due: build_frontend

chore(release): 0.16.5 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: create new components of intervention
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/Interventions/List/Container.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Toolbar.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/components/Tree/Interventions.tsx
  frontend/components/Tree/Panel.tsx
  frontend/pages/[organizationSlug]/interventions.tsx
  frontend/pages/[organizationSlug]/tree/[id]/index.tsx
  frontend/pages/[organizationSlug]/tree/[id]/intervention/[interventionId].tsx
Due: build_frontend

fix(frontend): add greening simple metrics
  frontend/components/Core/Metrics/SimpleMetric.tsx
  frontend/components/OrganizationV2/Dashboards/GreeningDashboard.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.16.6 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: list all interventions
  backend/app/app/api/api_v1/endpoints/intervention.py
  backend/app/app/crud/crud_intervention.py
  frontend/components/Interventions/List/Container.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/List/NoData.tsx
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/components/Tree/Panel.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/interventions/no-data.svg
  frontend/yarn.lock
Due: build_frontend, build_backend

refactor: allow select multiple interventions
  frontend/components/Interventions/List/Item.tsx
Due: build_frontend

refactor: new interventions
  frontend/components/Interventions/List/Container.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/List/NoData.tsx
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Toolbar.tsx
  frontend/components/Interventions/Workflow.tsx
Due: build_frontend

fix: remove attribute
  frontend/pages/[organizationSlug]/interventions.tsx
Due: build_frontend

chore(release): 0.16.7 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: remove add tree button when disconnected
  frontend/abilities/genericOrganizationAbility.ts
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/next.config.js
  frontend/package-lock.json
  frontend/pages/[organizationSlug]/map.tsx
  frontend/yarn.lock
Due: build_frontend

build: replace copy package-lock.json to package*.json
  frontend/.docker/Dockerfile
Due: build_frontend

chore(release): 0.16.8 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: set the osm layer to disabled by default when connect and on its data layer
  frontend/components/Map/Layers.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.16.9 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: new intervention
  frontend/components/Interventions/List/Container.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/List/NoData.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/pages/[organizationSlug]/tree/[id]/intervention/index.tsx
Due: build_frontend

refactor: expand tree interventions
  frontend/components/Core/OptionsPanel.tsx
  frontend/components/Interventions/List/Container.tsx
  frontend/components/Interventions/Toolbar.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/pages/[organizationSlug]/tree/[id]/intervention/index.tsx
Due: build_frontend

refactor: load interventions depending context
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/components/Tree/Panel.tsx
Due: build_frontend

feat: add alert when there are late interventions
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/Provider.tsx
  frontend/components/Tree/Images/Container.tsx
  frontend/components/Tree/Panel.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.17.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: organization members page
  backend/app/app/core/config.py
  frontend/components/Member/Item.tsx
  frontend/components/Member/List.tsx
  frontend/components/Members/AddMembersButton.tsx
  frontend/components/Members/ItemHeader.tsx
  frontend/components/Members/List/Container.tsx
  frontend/components/Members/List/Item.tsx
  frontend/components/Members/Management.tsx
  frontend/components/Members/Provider.tsx
  frontend/components/Members/Schema.tsx
  frontend/components/Members/Toolbar.tsx
  frontend/pages/[organizationSlug]/members.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend, build_backend

fix: preparing member action on members pag
  frontend/components/Members/AddMembersButton.tsx
  frontend/components/Members/List/Item.tsx
  frontend/components/Members/Provider.tsx
  frontend/components/Organization/Members/AddMembers.tsx
Due: build_frontend

chore(release): 0.17.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: change fetcher depending on the routing system
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.17.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: remove tmp cache
  frontend/components/Interventions/Provider.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.17.3 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): add tooltip cadastre layer
  frontend/components/Map/Layers/Cadastre.ts
  frontend/components/Map/Layers/Cadastre.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.17.4 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: show only three interventions on tree panel
  frontend/components/Interventions/Workflow.tsx
Due: build_frontend

chore(release): 0.17.5 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: add intervention workflow to tree page
  frontend/components/Interventions/Provider.tsx
  frontend/pages/[organizationSlug]/tree/[id]/index.tsx
Due: build_frontend

fix: remove link icon button from section item component
  frontend/components/Core/Section/Item.tsx
Due: build_frontend

fix: update common demos translations
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend
