Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

build_frontend:
  stage: build
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-0 -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-0
  tags:
  - ns01

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-base
  tags:
  - ns01

build_backend:
  stage: build
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-0 ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-0
  tags:
  - ns01

fix: set map actions list width
  frontend/components/Map/Actions/List.tsx
Due: build_frontend

fix: add remove organization members action
  frontend/components/Members/Provider.tsx
  frontend/components/Members/Toolbar.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

ci: change release workflow
  .gitlab-ci.yml
Due: none

ci: create images when the gitlab-ci.yml is modified
  .gitlab-ci.yml
Due: none

fix: Dont allow the map move when we are inside the search panel
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Provider.tsx
Due: build_frontend

fix: No display of the search panel mobile
  frontend/components/Map/SearchCity.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

fix: check if property properties exists before reading it
  frontend/components/Map/Layers/OSM.tsx
Due: build_frontend

fix: change interventionPeriod form inputs
  frontend/components/Form/useDate.tsx
  frontend/components/Interventions/Form.tsx
  frontend/components/Interventions/Panel.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

refactor: move search city bar under the map in mobile
  frontend/components/Home/Hero.tsx
  frontend/components/Home/HeroSearchCity.tsx
  frontend/components/Map/Provider.tsx
Due: build_frontend

fix: herosearchcity inside mapprovider
  frontend/components/Home/Hero.tsx
  frontend/components/Home/HeroSearchCity.tsx
Due: build_frontend

fix: Add multiselect component
  frontend/components/AppLayout/Carto.tsx
  frontend/components/Core/Field/AutocompleteSelect.tsx
  frontend/components/Core/Field/Select.tsx
  frontend/components/Form/useDate.tsx
  frontend/components/Form/useDateRange.tsx
  frontend/components/Form/useForm.tsx
  frontend/components/Form/useMultiSelect.tsx
  frontend/components/Form/useTextField.tsx
  frontend/components/Interventions/Panel.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/components/Tree/Form.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

fix: add cancellation and done form in intevention panel
  frontend/components/Dialog.tsx
  frontend/components/Form/useDate.tsx
  frontend/components/Form/useMultiSelect.tsx
  frontend/components/Interventions/Core/Avatar.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/Panel/ArchiveForm.tsx
  frontend/components/Interventions/Panel/DoneForm.tsx
  frontend/components/Interventions/Panel/EditForm.tsx
  frontend/components/Interventions/Panel/Header.tsx
  frontend/components/Interventions/Panel/Panel.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix: add workflow changes to inteervention map panel
  frontend/components/AppLayout/Carto.tsx
  frontend/components/Form/useDate.tsx
  frontend/components/Interventions/Core/Avatar.tsx
  frontend/components/Interventions/Panel/ArchiveForm.tsx
  frontend/components/Interventions/Panel/DoneForm.tsx
  frontend/components/Interventions/Panel/EditForm.tsx
  frontend/components/Interventions/Panel/Header.tsx
  frontend/components/Interventions/Panel/Panel.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/components.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix: change icons for intervention type
  frontend/components/Interventions/Core/Avatar.tsx
Due: build_frontend

fix: intervention avatar color
  frontend/components/Interventions/Core/Avatar.tsx
  frontend/components/Interventions/Provider.tsx
Due: build_frontend

fix: change intervention list sorting
  frontend/components/Interventions/Core/Avatar.tsx
  frontend/components/Interventions/Provider.tsx
  frontend/components/Interventions/Workflow.tsx
Due: build_frontend

fix: fix Intervention cancellation properties overwrites
  frontend/components/Interventions/Panel/EditForm.tsx
Due: build_frontend

fix: add margin top and translation to intervention archive button
  frontend/components/Interventions/Panel/Panel.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

fix: make intervention dialogs wider
  frontend/components/Interventions/Panel/Panel.tsx
Due: build_frontend

refactor: wip
  frontend/components/AppLayout/Carto.tsx
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/CreateTree.tsx
  frontend/components/Map/Actions/FitToBounds.tsx
  frontend/components/Map/Actions/Geolocation.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/components/Map/Actions/Selection.tsx
  frontend/components/Map/ActionsBar.tsx
  frontend/components/Map/Container.tsx
  frontend/components/Map/ContainerBase.tsx
  frontend/components/Map/Layers/Cadastre.tsx
  frontend/components/Map/Panel/Filter.tsx
  frontend/components/Map/Panel/Info.tsx
  frontend/components/Map/Panel/Layers.tsx
  frontend/components/Map/Provider.tsx
  frontend/components/Map/Tooltip/Item.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/OrganizationV2/LoadingProgress.tsx
  frontend/components/Panel/Start/GeneralInfo.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/pages/[organizationSlug]/map2.tsx
  frontend/pages/_app.tsx
Due: build_frontend

fix: fly to tree on map tree query change
  frontend/components/Interventions/Form.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

fix: add update button to tree panal actions
  frontend/components/Tree/Panel.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.17.6 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: make hero responsive
  frontend/components/Home/Hero.tsx
  frontend/components/Home/HeroSearchCity.tsx
  frontend/components/Map/Provider.tsx
  frontend/pages/signin.tsx
Due: build_frontend

chore(release): 0.17.7 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: hidden workinprogress component if user is not super admin
  frontend/components/OrganizationV2/Dashboards/EconomyDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/TreeHealthAssessmentDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/UrbanForestryManagementDashboard.tsx
  frontend/components/OrganizationV2/Modules/DataQualityModule.tsx
  frontend/components/OrganizationV2/Modules/DetectTreesModules.tsx
  frontend/components/OrganizationV2/Zones.tsx
Due: build_frontend

refactor: In the drop-down list for adding members, remove Guest.
  frontend/components/Organization/Members/AddMembers.tsx
  frontend/components/Organization/Members/MembersTable.tsx
  frontend/components/OrganizationV2/Members.tsx
Due: build_frontend

test: change test folder
  frontend/.docker/Dockerfile
  frontend/__tests__/components/SignIn/Form.test.tsx
  frontend/__tests__/pages/forgot.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/jest.config.js
Due: build_frontend

fix: frontend dockerfile
  frontend/.docker/Dockerfile
Due: build_frontend

test: add organization endpoint tests
  backend/app/app/api/api_v1/api.py
  backend/app/app/api/api_v1/endpoints/members.py
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/api/api_v1/endpoints/teams.py
  backend/app/app/crud/crud_organization.py
  backend/app/app/tests/api/api_v1/test_organization.py
  backend/app/app/tests/conftest.py
Due: build_backend

test: 68% coverage backend
  backend/app/app/api/api_v1/endpoints/admin.py
  backend/app/app/api/api_v1/endpoints/featured.py
  backend/app/app/api/api_v1/endpoints/geo_files.py
  backend/app/app/api/api_v1/endpoints/health_assessment.py
  backend/app/app/api/api_v1/endpoints/intervention.py
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/api/api_v1/endpoints/members.py
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/api/api_v1/endpoints/teams.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/api/deps.py
  backend/app/app/core/__init__.py
  backend/app/app/core/config.py
  backend/app/app/core/security.py
  backend/app/app/db/init_db.py
  backend/app/app/initial_data.py
  backend/app/app/models/organization.py
  backend/app/app/schemas/health_assessment.py
  backend/app/app/tests/api/api_v1/test_members.py
  backend/app/app/tests/api/api_v1/test_organization.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/utils/enforcer.py
  backend/app/app/tests/utils/overrides.py
  backend/app/app/tests/utils/security.py
  backend/app/app/tests/utils/test_db.py
  backend/app/app/tests/utils/utils.py
  frontend/.eslintrc
  frontend/__tests__/components/Map/SearchCity.tsx
  frontend/components/Map/SearchCity.tsx
  frontend/jest.setup.js
  frontend/package.json
Due: build_frontend, build_backend

build: add faker to Dockerfile.base
  .gitlab-ci.yml
  backend/Dockerfile.base
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/tests/api/api_v1/test_members.py
  backend/app/app/tests/api/api_v1/test_trees.py
  backend/app/app/tests/utils/security.py
Due: build_backend_base, build_backend

build docker image backend:base al branchs
  .gitlab-ci.yml
Due: none

test: add interventions tests
  backend/app/app/api/api_v1/endpoints/intervention.py
  backend/app/app/tests/api/api_v1/test_intervention.py
  frontend/__tests__/components/Map/SearchCity.tsx
Due: build_frontend, build_backend

test: 100% coverage interventions
  backend/app/app/api/api_v1/endpoints/intervention.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/tests/api/api_v1/test_intervention.py
  backend/app/app/tests/api/api_v1/test_trees.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/fixtures/intervention.py
  backend/app/app/tests/fixtures/tree.py
Due: build_backend

test: trees 43% coverage
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/tests/api/api_v1/test_trees.py
Due: build_backend

fix: security bug -> authorization
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/core/security.py
  backend/app/app/tests/api/api_v1/test_trees.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/fixtures/image.py
Due: build_backend

build: add Pillow to dockerfile.base
  backend/Dockerfile.base
Due: build_backend_base, build_backend

test: add test_admin
  backend/app/app/api/api_v1/endpoints/admin.py
  backend/app/app/crud/crud_organization.py
  backend/app/app/tests/api/api_v1/test_admin.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/fixtures/intervention.py
  backend/app/app/tests/fixtures/organization.py
  backend/app/app/tests/fixtures/user.py
  backend/app/app/tests/utils/utils.py
Due: build_backend

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend_base: any of: backend/Dockerfile.base
  build_backend: any of: backend/**/*
