Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-base
  tags:
  - ns01

build_frontend_dev:
  stage: build_dev
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - ns01

build_backend_dev:
  stage: build_dev
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-dev ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-dev
  tags:
  - ns01

build_frontend_prod:
  stage: build_prod
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-prod -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-prod
  tags:
  - ns01

build_backend_prod:
  stage: build_prod
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-prod ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-prod
  tags:
  - ns01

test: add map test
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/tests/api/api_v1/test_map.py
Due: build_backend_dev, build_backend_prod

test: add teams test
  backend/app/app/api/api_v1/endpoints/teams.py
  backend/app/app/assets/styles/dark.json
  backend/app/app/assets/styles/light.json
  backend/app/app/tests/api/api_v1/test_map.py
  backend/app/app/tests/api/api_v1/test_teams.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/fixtures/team.py
Due: build_backend_dev, build_backend_prod

test: refactor fixtures
  backend/app/app/api/api_v1/endpoints/users.py
  backend/app/app/tests/api/api_v1/test_admin.py
  backend/app/app/tests/api/api_v1/test_members.py
  backend/app/app/tests/api/api_v1/test_users.py
  backend/app/app/tests/fixtures/intervention.py
  backend/app/app/tests/fixtures/organization.py
  backend/app/app/tests/fixtures/team.py
  backend/app/app/tests/fixtures/tree.py
  backend/app/app/tests/fixtures/user.py
  backend/app/app/tests/utils/security.py
Due: build_backend_dev, build_backend_prod

test: add test health assessment
  backend/app/app/api/api_v1/endpoints/health_assessment.py
  backend/app/app/core/authorization-model.conf
  backend/app/app/core/security.py
  backend/app/app/schemas/health_assessment.py
  backend/app/app/tests/api/api_v1/test_health_assessment.py
  backend/app/app/tests/api/api_v1/test_members.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/fixtures/health_assessment.py
  backend/app/app/tests/fixtures/tree.py
Due: build_backend_dev, build_backend_prod

test: add .coveragerc to backend
  backend/app/.coveragerc
Due: build_backend_dev, build_backend_prod

test: add test_featured
  backend/app/app/api/api_v1/endpoints/featured.py
  backend/app/app/tests/api/api_v1/test_featured.py
  backend/app/app/tests/crud/test_organization.py
  backend/app/app/tests/test_utils.py
  backend/app/app/utils.py
Due: build_backend_dev, build_backend_prod

test: remove unused code
  backend/app/app/api/api_v1/api.py
  backend/app/app/api/api_v1/endpoints/geo_files.py
  backend/app/app/api/api_v1/endpoints/ws.py
  backend/app/app/core/middleware/channel_event_middleware.py
  backend/app/app/main.py
  backend/app/app/tasks/__init__.py
  backend/app/app/tasks/create_mbtiles.py
  backend/app/app/tests/crud/test_organization.py
  backend/app/app/worker.py
Due: build_backend_dev, build_backend_prod

test: test export organization
  backend/app/app/api/api_v1/api.py
  backend/app/app/api/api_v1/endpoints/images.py
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/core/__init__.py
  backend/app/app/core/security.py
  backend/app/app/tests/api/api_v1/test_geo_files.py
  backend/app/app/tests/api/api_v1/test_images.py
  backend/app/app/tests/api/api_v1/test_trees.py
  backend/app/app/tests/conftest.py
  backend/app/app/tests/core/test_security.py
  backend/app/app/tests/crud/test_organization.py
  backend/app/app/tests/fixtures/geo_file.py
Due: build_backend_dev, build_backend_prod

test: remove registration_link
  backend/app/app/api/api_v1/api.py
  backend/app/app/api/api_v1/endpoints/registration_link.py
Due: build_backend_dev, build_backend_prod

test: add taxref tests
  backend/app/app/api/api_v1/endpoints/taxref.py
  backend/app/app/tests/api/api_v1/test_taxref.py
Due: build_backend_dev, build_backend_prod

test: 100% coverage admin endpoint
  backend/app/app/tests/api/api_v1/test_admin.py
  backend/app/app/tests/fixtures/organization.py
Due: build_backend_dev, build_backend_prod

test: 100% coverage images
  backend/app/app/api/api_v1/endpoints/images.py
  backend/app/app/tests/api/api_v1/test_images.py
  backend/app/app/tests/fixtures/image.py
Due: build_backend_dev, build_backend_prod

test: 100% users endpoint
  backend/app/app/api/api_v1/endpoints/users.py
  backend/app/app/tests/api/api_v1/test_users.py
Due: build_backend_dev, build_backend_prod

test: 100% coverage maps endpoint
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/tests/api/api_v1/test_map.py
  backend/app/app/tests/fixtures/tree.py
Due: build_backend_dev, build_backend_prod

test: fix crud_organization
  backend/app/app/tests/crud/test_organization.py
Due: build_backend_dev, build_backend_prod

test: remove geo_file
  backend/app/app/api/api_v1/endpoints/geo_files.py
  backend/app/app/tests/api/api_v1/test_geo_files.py
  backend/app/app/tests/crud/test_organization.py
  backend/app/app/tests/fixtures/geo_file.py
Due: build_backend_dev, build_backend_prod

test: test import trees
  backend/app/app/tests/api/api_v1/test_geo_files.py
  backend/app/app/tests/api/api_v1/test_trees.py
Due: build_backend_dev, build_backend_prod

ci: no tests frontend
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

test: get geofile by name
  backend/app/app/tests/api/api_v1/test_geo_files.py
  backend/app/app/tests/api/api_v1/test_trees.py
  backend/app/app/tests/fixtures/geo_file.py
Due: build_backend_dev, build_backend_prod

test: read geo_files
  backend/app/app/api/api_v1/endpoints/geo_files.py
  backend/app/app/tests/api/api_v1/test_geo_files.py
Due: build_backend_dev, build_backend_prod

test: add omit to .coverage
  backend/app/.coveragerc
Due: build_backend_dev, build_backend_prod

test: add geojson-pydantic package
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/schemas/__init__.py
  backend/app/app/schemas/features.py
  backend/app/app/schemas/geometries.py
  backend/app/app/schemas/organization.py
  backend/app/app/schemas/utils.py
  backend/app/app/tests/api/api_v1/test_teams.py
Due: build_backend_dev, build_backend_prod

build: add geojson-pydantic to dockerfile.base
  backend/Dockerfile.base
  backend/app/app/models/ws.py
Due: build_backend_base, build_backend_dev, build_backend_prod

refactor: crud_user
  backend/app/app/api/api_v1/endpoints/registration_link.py
  backend/app/app/api/api_v1/endpoints/users.py
  backend/app/app/core/security.py
  backend/app/app/crud/crud_user.py
Due: build_backend_dev, build_backend_prod

test: fix ignore files to coverage
  backend/app/.coveragerc
Due: build_backend_dev, build_backend_prod

test: 100% coverage crud_user
  backend/app/app/crud/__init__.py
  backend/app/app/crud/crud_registration_link.py
  backend/app/app/crud/crud_user.py
  backend/app/app/models/__init__.py
  backend/app/app/models/registration_link.py
  backend/app/app/schemas/user.py
  backend/app/app/tests/crud/test_crud_user.py
Due: build_backend_dev, build_backend_prod

test: 100% coverage test_crud_organization, test_crud_intervention, test_crud_tree
  backend/app/app/crud/crud_geo_file.py
  backend/app/app/crud/crud_intervention.py
  backend/app/app/crud/crud_organization.py
  backend/app/app/crud/crud_tree.py
  backend/app/app/tests/crud/test_crud_intervention.py
  backend/app/app/tests/crud/test_crud_organization.py
  backend/app/app/tests/crud/test_crud_tree.py
  backend/app/app/tests/crud/test_organization.py
  backend/app/app/tests/fixtures/intervention.py
  backend/app/app/tests/fixtures/tree.py
Due: build_backend_dev, build_backend_prod

wip
  frontend/components/Core/Field/DatePicker.tsx
  frontend/components/Core/Field/TextField.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/components/Tree/BasicForm.tsx
  frontend/components/Tree/Field/Canonical.tsx
  frontend/components/Tree/Panel.tsx
  frontend/components/Tree/Schema.ts
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

fix: deprecate osm info popover + point styles change
  frontend/components/Home/Hero.tsx
  frontend/components/Map/Layers.tsx
  frontend/components/Map/Layers/OSM.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend_dev, build_frontend_prod

fix: add guest rules to map explorer
  frontend/abilities/genericOrganizationAbility.ts
  frontend/components/AppLayout/Base.tsx
  frontend/components/Interventions/Workflow.tsx
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/components/Map/ActionsBar.tsx
  frontend/components/OrganizationV2/Dashboards/EconomyDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/TreeHealthAssessmentDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/UrbanForestryManagementDashboard.tsx
  frontend/components/OrganizationV2/Modules/DataQualityModule.tsx
  frontend/components/OrganizationV2/Modules/DetectTreesModules.tsx
  frontend/components/OrganizationV2/Zones.tsx
  frontend/components/Tree/Panel.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

fix: refetch organization on user change to update user current role
  frontend/abilities/genericOrganizationAbility.ts
  frontend/providers/AppContext.tsx
Due: build_frontend_dev, build_frontend_prod

fix: translate Date Picker button label
  frontend/components/Core/Field/DatePicker.tsx
  frontend/components/Form/useDate.tsx
Due: build_frontend_dev, build_frontend_prod

fix: use start_date instead of period in intervention form
  frontend/components/Core/Field/DatePicker.tsx
  frontend/components/Form/useDate.tsx
  frontend/components/Interventions/Form.tsx
  frontend/components/Interventions/InterventionsTable.tsx
  frontend/components/Interventions/List/Item.tsx
  frontend/components/Interventions/Panel/ArchiveForm.tsx
  frontend/components/Interventions/Panel/DoneForm.tsx
  frontend/components/Interventions/Panel/EditForm.tsx
  frontend/components/Interventions/Schema.tsx
  frontend/components/Tree/BasicForm.tsx
Due: build_frontend_dev, build_frontend_prod

fix: fix intervention schedule avatar colors
  frontend/components/Interventions/Provider.tsx
Due: build_frontend_dev, build_frontend_prod

fix: quick fix to display tree interventions page
  frontend/pages/[organizationSlug]/tree/[id]/intervention/index.tsx
Due: build_frontend_dev, build_frontend_prod

fix: add ts-nocheck in CoreDatePicker
  frontend/components/Core/Field/DatePicker.tsx
  frontend/pages/[organizationSlug]/tree/[id]/index.tsx
Due: build_frontend_dev, build_frontend_prod

fix: fix planted trees count metrics
  backend/app/app/api/api_v1/endpoints/organization.py
  backend/app/app/crud/crud_tree.py
Due: build_backend_dev, build_backend_prod

fix: fix logged tree count
  backend/app/app/crud/crud_intervention.py
Due: build_backend_dev, build_backend_prod

fix: add tree metrics components
  frontend/components/Core/Icons/Tree.tsx
  frontend/components/Core/Icons/Trunk.tsx
  frontend/components/Core/Metrics/SimpleMetric.tsx
  frontend/components/OrganizationV2/Dashboards/TreeMetrics.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

fix: remove unstable CoreDatePicker
  frontend/components/Core/Field/DatePicker.tsx
  frontend/components/Core/Field/TextField.tsx
  frontend/components/Tree/BasicForm.tsx
Due: build_frontend_dev, build_frontend_prod

Path conditions:
  build_backend_base: any of: backend/Dockerfile.base, .gitlab-ci.yml
  build_frontend_dev: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_dev: any of: backend/**/*, .gitlab-ci.yml
  build_frontend_prod: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_prod: any of: backend/**/*, .gitlab-ci.yml
