Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend_base, build_backend

.gitlab-ci.yml:

stages:
  - build_base
  - build
  - deploy
  - release

build_frontend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:frontend-0 -f ./frontend/.docker/Dockerfile ./frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-0
  only:
    refs:
      - master
    changes:
      - frontend/**/*
  tags:
    - ns01

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-base
  only:
    refs:
      - master
    changes:
      - backend/Dockerfile.base
  tags:
    - ns01

build_backend:
  stage: build
  image: docker:dind
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-0 ./backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-0
  only:
    refs:
      - master
    changes:
      - backend/**/*
  tags:
    - ns01

deploy_dev:
  stage: deploy
  image: cytopia/ansible:latest-tools
  script:
    - git clone https://${GL_USER}:${GL_TOKEN}@gitlab.com/natural-solutions/ns-ansible-infrastructure.git
    - cd ns-ansible-infrastructure
    - echo ${VAULT_PASSWORD_KEY} > password-file
    - ansible-vault decrypt --vault-password-file password-file k
    - ansible-playbook -i hosts -l ecoteka_dev --vault-password-file password-file deploy.yml
    - rm password-file
  only:
    - master
  tags:
    - ns01
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "false"
    ANSIBLE_INVENTORY_UNPARSED_FAILED: "true"

release:
  stage: release
  script:
    - npm i @semantic-release/gitlab @semantic-release/git @semantic-release/changelog @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer
    - npx semantic-release
  only:
    - master
  tags:
    - ns01

fix: improved refresh token control
  backend/app/app/core/config.py
  frontend/components/AppLayout/General.tsx
  frontend/lib/useApi.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend, build_backend

refactor(backend): original refresh token vars config
  backend/app/app/core/config.py
Due: build_backend

refactor(frontend): backward compatibility of AppContext
  frontend/providers/AppContext.tsx
Due: build_frontend

chore(release): 0.13.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(backend): add featured open organizations endpoint
  backend/app/app/api/api_v1/api.py
  backend/app/app/api/api_v1/endpoints/featured.py
  backend/app/app/crud/crud_organization.py
Due: build_backend

feat: add tree button above the geoloc
  frontend/components/AppLayout/Carto.tsx
  frontend/components/AppLayout/General.tsx
  frontend/components/AppLayout/Header.tsx
  frontend/components/Map/AddActions.tsx
  frontend/components/Organization/Select.tsx
  frontend/index.d.ts
  frontend/pages/[organizationSlug]/map.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend

chore(release): 0.14.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): add featured organizations to homepage
  frontend/components/Home/FeaturedOrganizations.tsx
  frontend/pages/index.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.14.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: improved refresh token logic
  backend/app/app/core/config.py
  frontend/lib/hooks/useLocalStorage.ts
  frontend/lib/useApi.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend, build_backend

fix: worflow appcontext + useApi
  backend/app/app/core/config.py
  frontend/lib/useApi.tsx
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend, build_backend

chore(release): 0.14.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: authjwt_access_token_expire replace seconds to minutes
  backend/app/app/core/config.py
Due: build_backend

chore(release): 0.14.3 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: create attribution component
  frontend/components/Map/Attribution.tsx
  frontend/components/Map/Provider.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

fix: clear localstorage
  frontend/lib/useApi.tsx
Due: build_frontend

chore(release): 0.14.4 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: replace router.push to document.location.href
  backend/app/app/core/config.py
  frontend/lib/useApi.tsx
Due: build_frontend, build_backend

fix: update config
  backend/app/app/core/config.py
Due: build_backend

chore(release): 0.14.5 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: add refresh token value
  frontend/lib/useApi.tsx
Due: build_frontend

chore(release): 0.14.6 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: force reload when logout
  frontend/components/Logout.tsx
Due: build_frontend

chore(release): 0.14.7 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: make redirect to organization home when user has only oneorganization
  frontend/components/SignIn/Button.tsx
  frontend/components/SignIn/Form.tsx
  frontend/pages/signin.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend

chore(release): 0.15.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: add translations to MapFilter component
  frontend/components/Map/Filter.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.15.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

refactor: create AttributionItem
  frontend/components/Map/Attribution/Item.tsx
  frontend/components/Map/Attribution/List.tsx
  frontend/components/Map/Provider.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

chore(release): 0.16.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

declarative map actions wip
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend

fix: control speedial render
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
Due: build_frontend

fix(frontend): add map fab actions
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/components/Map/AddActions.tsx
  frontend/components/Map/GeolocateFab.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

chore(release): 0.16.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: size medium iconbutton
  frontend/components/Map/Actions/Action.tsx
Due: build_frontend

chore(release): 0.16.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): toggle draw tree + trees select
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/components/Map/DeleteTrees.tsx
  frontend/components/Map/SearchCity.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/public/locales/fr/common.json
Due: build_frontend

chore(release): 0.16.3 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix(frontend): change user main menu links
  frontend/components/User/MainMenuButton.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend

chore(release): 0.16.4 [skip ci]
  CHANGELOG.md
  VERSION
Due: none
