Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

Path conditions:
  build_backend_base: any of: backend/Dockerfile.base, .gitlab-ci.yml
  build_frontend_dev: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_dev: any of: backend/**/*, .gitlab-ci.yml
  build_frontend_prod: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_prod: any of: backend/**/*, .gitlab-ci.yml

refactor: optimized get_planted sql statement
  backend/app/app/crud/crud_tree.py
Due: build_backend_dev, build_backend_prod

refactor: fix get_planted
  backend/app/app/crud/crud_tree.py
Due: build_backend_dev, build_backend_prod

fix: grid spacing
  frontend/components/Core/Section/Container.tsx
Due: build_frontend_dev, build_frontend_prod

fix(backend): Error: Invalid value for '-P' on celery_worker
  backend/app/worker-start.sh
Due: build_backend_dev, build_backend_prod

fix(frontend): infinite loop refresh_token
  frontend/components/Core/LazyCardMedia.tsx
  frontend/lib/useApi.tsx
Due: build_frontend_dev, build_frontend_prod

fix: add translation subfooter wip
  frontend/components/AppLayout/General.tsx
  frontend/components/AppLayout/Subfooter.tsx
  frontend/components/HubButton.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

feat: add subfooter
  frontend/components/AppLayout/General.tsx
  frontend/components/AppLayout/Subfooter.tsx
  frontend/public/locales/en/components.json
  frontend/theme/config.ts
Due: build_frontend_dev, build_frontend_prod

Resolve "add subfooter to ecoteka studio"
  frontend/components/AppLayout/General.tsx
  frontend/components/AppLayout/Subfooter.tsx
  frontend/components/HubButton.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
  frontend/theme/config.ts
Due: build_frontend_dev, build_frontend_prod

fix: spanish and english version display of subfooter
  frontend/components/AppLayout/Subfooter.tsx
Due: build_frontend_dev, build_frontend_prod

chore(release): 0.17.8 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

Resolve "Integrate google analytics"
  .env.example
  docker-compose.yml
  frontend/components/Map/SearchCity.tsx
  frontend/lib/ga.ts
  frontend/next.config.js
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

Resolve "Add Cookie Consent Bar"
  docker-compose.yml
  frontend/components/AppLayout/Base.tsx
  frontend/components/NewsletterButton.tsx
  frontend/lib/ga.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
  native/src/screens/LoginScreen.tsx
Due: build_frontend_dev, build_frontend_prod

fix: error translation
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

chore(release): 0.18.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

fix: newsletter button text display
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

ci: add NS_ECOTEKA_FRONTEND_COOKIE_CONSENT to .env.example
  .env.example
Due: none

fix: json error parser in translations
  frontend/public/locales/en/components.json
  frontend/public/locales/es/components.json
  frontend/public/locales/fr/components.json
Due: build_frontend_dev, build_frontend_prod

chore(release): 0.18.1 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

feat: add readme in core package from front end
  frontend/packages/core/README.md
Due: build_frontend_dev, build_frontend_prod

test: add appbar component
  frontend/packages/core/README.md
  frontend/packages/core/src/AppBar/AppBar.stories.tsx
  frontend/packages/core/src/AppBar/AppBar.tsx
  frontend/packages/core/src/AppBar/index.ts
  frontend/packages/core/src/hubbutton/hubbutton.tsx
  frontend/packages/core/src/index.ts
Due: build_frontend_dev, build_frontend_prod

work-in-progress_header
  frontend/packages/core/.storybook/preview.js
  frontend/packages/core/src/AppBar/AppBar.stories.tsx
  frontend/packages/core/src/AppBar/AppBar.tsx
  frontend/packages/core/src/AppBar/index.ts
  frontend/packages/core/src/Header/Header.stories.tsx
  frontend/packages/core/src/Header/Header.tsx
  frontend/packages/core/src/Header/index.tsx
  frontend/packages/core/src/HubButton/HubButton.stories.tsx
  frontend/packages/core/src/HubButton/HubButton.tsx
  frontend/packages/core/src/HubButton/index.ts
  frontend/packages/core/src/Logo/Logo.stories.tsx
  frontend/packages/core/src/Logo/Logo.tsx
  frontend/packages/core/src/Logo/index.ts
  frontend/packages/core/src/hubbutton/index.ts
  frontend/packages/core/src/index.ts
  frontend/packages/core/src/public/logo.svg
  frontend/packages/core/src/theme/config.ts
Due: build_frontend_dev, build_frontend_prod

refactor(logo): improve properties
  frontend/packages/core/src/Logo/Logo.stories.tsx
  frontend/packages/core/src/Logo/Logo.tsx
Due: build_frontend_dev, build_frontend_prod

fix: add storybook/addon-essentials and add typescript support
  frontend/packages/core/.storybook/main.js
  frontend/packages/core/.storybook/preview.js
  frontend/packages/core/package.json
  frontend/yarn.lock
Due: build_frontend_dev, build_frontend_prod

build: fix the nodejs version
  frontend/packages/studio/.docker/Dockerfile.dev
Due: build_frontend_dev, build_frontend_prod

fix: change dockerfile frontend to 14alpine
  frontend/.docker/Dockerfile
  frontend/.docker/Dockerfile.dev
Due: build_frontend_dev, build_frontend_prod

fix: remove duplicated code for use metric by year
  frontend/components/OrganizationV2/Dashboards/InterventionMetrics.tsx
  frontend/components/OrganizationV2/Dashboards/TreeMetrics.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
  frontend/lib/hooks/useMetricsByYear.ts
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
Due: build_frontend_dev, build_frontend_prod

hoxfix: change big images to thumbnail images on SpeciesPreview
  frontend/.docker/Dockerfile
  frontend/.docker/Dockerfile.dev
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
Due: build_frontend_dev, build_frontend_prod

add docker pip
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

install python3-docker
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

fix infra
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

fix 2.8-infra
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

hotfix: 2.8-infra
  .gitlab-ci.yml
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

fix: remove deprecated properties and centralize trees metrics data fetching in organisation page
  frontend/components/Core/Icons/Calendar.tsx
  frontend/components/Core/Icons/Tree.tsx
  frontend/components/Core/Icons/Trunk.tsx
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/components/Snackbars.tsx
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
  frontend/public/assets/erreur_403.svg
  frontend/public/assets/health_assessment/tree.svg
  frontend/public/assets/icons/budget_512px.svg
  frontend/public/assets/icons/calendar_512px.svg
  frontend/public/assets/icons/icon_seed.svg
  frontend/public/assets/interventions/intervention-07.svg
Due: build_frontend_dev, build_frontend_prod

fix: centralize data fetch
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod

fix: fetch organization data only once
  frontend/providers/AppContext.tsx
Due: build_frontend_dev, build_frontend_prod

fix: memoized data chart with data
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/lib/hooks/useThumbailsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod

refactor: retrieve species thumbnails in index page of organization
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
  frontend/lib/hooks/useThumbailsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod
