Repository NaturalSolutions/Ecoteka: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

build_backend_base:
  stage: build_base
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./backend/Dockerfile.base ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-base
  tags:
  - ns01

build_frontend_dev:
  stage: build_dev
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - ns01

build_backend_dev:
  stage: build_dev
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-dev ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-dev
  tags:
  - ns01

build_frontend_prod:
  stage: build_prod
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-prod -f ./frontend/.docker/Dockerfile ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-prod
  tags:
  - ns01

build_backend_prod:
  stage: build_prod
  image: docker:dind
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:backend-prod ./backend
  - docker push ${CI_REGISTRY_IMAGE}:backend-prod
  tags:
  - ns01

fix: wip create usethumbnails hooks
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/lib/hooks/useThumbailsTrees.ts
  frontend/lib/hooks/useThumbnailsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod

feat: fetch thumbnails in a hook
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/lib/hooks/useThumbnailsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod

refactor: review du code
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
Due: build_frontend_dev, build_frontend_prod

refactor: remove console.log
  frontend/providers/AppContext.tsx
Due: build_frontend_dev, build_frontend_prod

Resolve "Feature install FastAPI cache"
  .gitignore
  backend/Dockerfile.base
  backend/app/app/api/api_v1/endpoints/trees.py
  backend/app/app/main.py
  backend/app/app/schemas/tree.py
  frontend/abilities/genericOrganizationAbility.ts
  frontend/components/AppLayout/Base.tsx
  frontend/components/AppLayout/Subfooter.tsx
  frontend/components/Core/Icons/Calendar.tsx
  frontend/components/Core/Icons/Tree.tsx
  frontend/components/Core/Icons/Trunk.tsx
  frontend/components/OrganizationV2/Dashboards/InterventionMetrics.tsx
  frontend/components/OrganizationV2/Dashboards/SpeciesDiversityDashboard.tsx
  frontend/components/OrganizationV2/Dashboards/TreeMetrics.tsx
  frontend/components/OrganizationV2/Progress.tsx
  frontend/components/OrganizationV2/SpeciesDiversity/SpeciesPreview.tsx
  frontend/components/Snackbars.tsx
  frontend/lib/hooks/useMetricsByYear.ts
  frontend/lib/hooks/useMetricsTrees.ts
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
  frontend/providers/AppContext.tsx
  frontend/public/assets/erreur_403.svg
  frontend/public/assets/health_assessment/tree.svg
  frontend/public/assets/icons/budget_512px.svg
  frontend/public/assets/icons/calendar_512px.svg
  frontend/public/assets/icons/icon_seed.svg
  frontend/public/assets/interventions/intervention-07.svg
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

chore(release): 0.18.2 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

chore: update traefik version
  .env.example
Due: none

build: add redis_host variable to osm thumbnail
  .env.example
  docker-compose.yml
Due: none

Dev
  .env.example
  docker-compose.yml
Due: none

build: upgrade postgis to v14
  .env.ci
  .env.example
  docker-compose.yml
Due: none

build: rename network
  .env.ci
  .env.example
  .gitignore
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/start_dev.sh
Due: none

build: remove images from .env
  .env.ci
  .env.example
  README.md
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/.gitignore
  scripts/setup_dev.sh
  scripts/start_dev.sh
Due: build_frontend_dev, build_frontend_prod

Co-authored-by: May <huongmay-nguyenphuoc@users.noreply.github.com>
  .gitlab-ci.yml
  README.md
  cypress.json
  cypress/fixtures/users.json
  cypress/integration/connection/signin.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  docker-compose.yml
  frontend/components/SignIn/Form.tsx
  frontend/components/SignIn/Schema.tsx
  frontend/cypress.json
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/signin.tsx
  package-lock.json
  package.json
  scripts/e2e.sh
Due: build_backend_base, build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

build: fix script e2e
  scripts/e2e.sh
Due: none

build: fix script build
  scripts/e2e.sh
Due: none

test: fix error fixtures
  cypress/integration/connection/signin.spec.js
  docker-compose.yml
  frontend/components/SignIn/Form.tsx
Due: build_frontend_dev, build_frontend_prod

- Implement cypress integration tests: signin, signout and forgot password tests - Refactor and simplify components / pages: login page, logout dialog, forgot password page
  README.md
  cypress.json
  cypress/integration/connection/forgot.spec.js
  cypress/integration/connection/signin.spec.js
  cypress/integration/connection/signout.spec.js
  cypress/support/commands.js
  frontend/__tests__/components/SignIn/Form.test.tsx
  frontend/components/AppLayout/Header.tsx
  frontend/components/Dialog.tsx
  frontend/components/Login/FormForgot.tsx
  frontend/components/Login/FormSignIn.tsx
  frontend/components/Logout.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/components/User/MainMenuButton.tsx
  frontend/pages/[organizationSlug]/index.tsx
  frontend/pages/forgot.tsx
  frontend/pages/signin.tsx
  frontend/providers/AppContext.tsx
  frontend/public/locales/en/common.json
  frontend/public/locales/en/pages.json
  frontend/public/locales/es/common.json
  frontend/public/locales/es/pages.json
  frontend/public/locales/fr/common.json
  frontend/public/locales/fr/pages.json
Due: build_frontend_dev, build_frontend_prod

fix: change component forms names and redirect organization page when private and logged out
  frontend/components/Auth/Forgot.tsx
  frontend/components/Auth/Logout.tsx
  frontend/components/Auth/SignIn.tsx
  frontend/components/User/MainMenuButton.tsx
  frontend/pages/forgot.tsx
  frontend/pages/signin.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend_dev, build_frontend_prod

fix: add forgot tests
  cypress/integration/connection/forgot.spec.js
  cypress/integration/connection/signin.spec.js
  cypress/integration/connection/signout.spec.js
  cypress/support/commands.js
  frontend/components/Auth/Forgot.tsx
  frontend/components/OrganizationV2/Header.tsx
  frontend/providers/AppContext.tsx
Due: build_frontend_dev, build_frontend_prod

test: test tree creation and edition on basic form
  cypress/fixtures/trees.json
  cypress/integration/connection/signout.spec.js
  cypress/integration/tree/addtree.spec.js
  cypress/integration/tree/edittreebasic.spec.js
  cypress/integration/tree/edittreeform.spec.js
  cypress/support/commands.js
  cypress/support/index.js
  frontend/components/AppLayout/Carto.tsx
  frontend/components/Map/Actions/Action.tsx
  frontend/components/Map/Actions/List.tsx
  frontend/components/Tree/BasicForm.tsx
  frontend/components/Tree/Form.tsx
  frontend/components/Tree/Page/Header.tsx
  frontend/components/Tree/Panel.tsx
  frontend/pages/[organizationSlug]/map.tsx
  frontend/pages/[organizationSlug]/tree/[id]/index.tsx
Due: build_frontend_dev, build_frontend_prod

test: wip full form tree
  cypress/fixtures/trees.json
  cypress/integration/tree/addtree.spec.js
  cypress/integration/tree/edittreebasic.spec.js
  cypress/integration/tree/edittreeform.spec.js
  cypress/support/commands.js
  frontend/components/Tree/Form.tsx
Due: build_frontend_dev, build_frontend_prod

Update README.md
  README.md
Due: none

feat: add ign dark and light map background
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/assets/styles/ign-dark.json
  backend/app/app/assets/styles/ign-light.json
  backend/app/app/assets/styles/map-dark.json
  backend/app/app/assets/styles/map-light.json
  frontend/components/Map/Layers.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

feat: add delete organization method in api
  backend/app/app/api/api_v1/endpoints/organization.py
Due: build_backend_dev, build_backend_prod

Update organization.py
  backend/app/app/api/api_v1/endpoints/organization.py
Due: build_backend_dev, build_backend_prod

fix: load ign map in backend
  backend/app/app/api/api_v1/endpoints/maps.py
Due: build_backend_dev, build_backend_prod

fix: conflict in maps.py
  backend/app/app/api/api_v1/endpoints/maps.py
Due: build_backend_dev, build_backend_prod

feat: merge ign map into master
  backend/app/app/api/api_v1/endpoints/maps.py
  backend/app/app/assets/styles/ign-dark.json
  backend/app/app/assets/styles/ign-light.json
  backend/app/app/assets/styles/map-dark.json
  backend/app/app/assets/styles/map-light.json
  frontend/components/Map/Layers.tsx
  frontend/pages/[organizationSlug]/map.tsx
Due: build_frontend_dev, build_backend_dev, build_frontend_prod, build_backend_prod

chore(release): 0.19.0 [skip ci]
  CHANGELOG.md
  VERSION
Due: none

Path conditions:
  build_backend_base: any of: backend/Dockerfile.base, .gitlab-ci.yml
  build_frontend_dev: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_dev: any of: backend/**/*, .gitlab-ci.yml
  build_frontend_prod: any of: frontend/**/*, .gitlab-ci.yml
  build_backend_prod: any of: backend/**/*, .gitlab-ci.yml
